body {
  font-family: Arial;
  text-align: center;
  margin: 20px;
}

.contenedor {
  width: 500px;
  height: 400px;
  border: 2px solid #333;
  margin: 20px auto;
  position: relative;
  background-color: #f5f5f5;
}

.cuadro {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 175px;
  left: 225px;
}

.info {
  margin: 10px;
}
